* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    background: #111827;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background: #f59e0b;
    color: white;

    padding: 15px 25px;

    text-decoration: none;

    border-radius: 8px;
}